@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600;700&family=Montserrat:wght@300&family=Pacifico&family=Permanent+Marker&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap");

body {
  margin: 0;
}
.app-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  color: #ffe97b;
  font-size: larger;
  background: url("https://i.imgur.com/NkubCok.jpg");
  background-size: 400px;
  background-repeat: repeat;
  a {
    margin: 15px;
    color: #dfac29;
    // text-shadow: 0 0 .1rem #ffdb80,
    // 0 0 .1rem #ffdb80,
    // 0 0 1rem #ffdb80,
    // 0 0 0.2rem #ffdb80,
    // 0 0 1.0rem #ffdb80;
    font-size: 1.5rem;
    &:active {
      color: #ffdb80;
    }
    &:visited {
      color: #ffdb80;
    }
  }
}

.app-page h2 {
  display: flex;
  justify-content: center;
  margin: 50px;
  font-family: "Pacifico", cursive;
  font-size: 50px;
  color: #de8cff;
  text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 10px #fff;
}

.form-title {
  font-family: "Pacifico", cursive;
  font-size: 38px;
  margin-bottom: 20px;
}

.title {
  font-family: "Cormorant", serif;
  color: #bc13fe;
  font-size: 40px;
  background: black;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Flex", sans-serif;
  width: 550px;
  height: 600px;
  background-image: url(../assets/dog-head.png);
  background-size: cover;
  background-color: rgb(13, 19, 20);
  opacity: 95%;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  border-radius: 2rem;
  margin: 30px;
}

.score-board {
  display: flex;
  font-size: 30px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Flex", sans-serif;
  width: 550px;
  height: 200px;
  background-color: rgb(13, 19, 20);
  opacity: 95%;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  border-radius: 2rem;
  margin: 30px;
  padding: 40px;
}

.form.container {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 650px;
  font-size: 20px;
  color: #ffe97b;
}

input {
  margin: 10px;
  padding: 8px;
  width: 280px;
  border-radius: 1.5rem;
}

.logo {
  margin: 50px;
  font-family: "Pacifico", cursive;
  font-size: 50px;
  color: #de8cff;
  text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 10px #fff;
}

label {
  margin: 10px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 300px;
}

.zip-code {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  label {
    margin-left: 20px;
  }
  input {
    padding: 10px;
  }
}

button {
  font-family: "Roboto Flex", sans-serif;
  color: black;
  padding: 8px;
  margin: 12px;
  width: 75%;
  background-color: #ffdb80;
  border: #ffdb80;
  border-radius: 0.9rem;
}

button:hover {
  background-color: #dfac29;
}

.select {
  padding: 10px;
  border-radius: 1.5rem;
  background-color: white;
}

// Dashboard page styling
.dashboard-page {
  font-family: "Roboto Flex", sans-serif;
  background: rgba(40, 37, 37, 0.8);
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .profile-pic-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .doggie-care-buttons {
    // display: flex;
  }
}
