.app-page {
  // background-color: grey;
  min-width: 100%;
  min-height: 100vh;
  color: lightgrey;
  background: url('https://i.imgur.com/NkubCok.jpg');
  background-size: 400px;
  background-repeat: repeat;
  //background: url('https://img.freepik.com/free-vector/different-funny-dogs-cartoon-style-isolated-white-background_1308-54624.jpg?w=1480&t=st=1675120155~exp=1675120755~hmac=a1cf79d6f1b7b4e6988919954a0b6843ef1fe8b64b8aebfc045cc27d87173c9e');
  }
  // I just found a cute tileable background and wanna see how it looks :)
  // It's so cuuute! :)
  
  // https://img.freepik.com/free-vector/animal-pattern-background-colorful-seamless-line-art-design-vector_53876-156408.jpg?w=1380&t=st=1675122012~exp=1675122612~hmac=379dd95029d6a6a588b9ef35b6d4a70547ef4f047c1571b261c501c2510dd35b